# This is default immortal config file.
# This config file contains essential information which is needed for bootstrapping.
# The rest of configs such as limitations or NIP-11 profile must be changed on database config table.

# developers note: for development, set environment to `"dev"` and make a config.yml and .env beside your build.

# environment determines where and how to read secrets. (dev/prod)
# default is prod.
environment: "prod"

# ws_server contains information about websocket server.
ws_server:
  # bind is the IP address to be bind and listen on.
  # default is local host.
  bind: "0.0.0.0"

  # port is websocket port to be listen on.
  # default is 7777.
  port: 7777

# grpc_server contains information about grpc server.
grpc_server:
  # bind is the IP address to be bind and listen on.
  # default is local host.
  bind: "0.0.0.0"

  # port is grpc port to be listen on.
  # default is 50050.
  port: 50050

# manager contains information about connection with manager instance.
manager:
  # IP address of manager instance.
  # default is local network manager:8888.
  endpoint: "manager:8888"

  # duration for manager to ping this relay.
  # default is 1 minute.
  heartbeat_in_second: 60

  # region is the location for this specific relay.
  # default is global.
  region: global

# database contains details of database connections and limitations.
database:
  # db_name is the name of mongodb related to immortal
  # default is immortal.
  db_name: immortal

  # query_timeout_in_ms specifies the maximum duration (in milliseconds) for query execution before timing out.
  # default is 3000.
  query_timeout_in_ms: 3000

  # connection_timeout_in_ms specifies the maximum duration (in milliseconds) that is used for creating connections to the server.
  # default is 5000.
  connection_timeout_in_ms: 5000

# redis contains details of redis connections and limitations.
redis:
  # query_timeout_in_ms specifies the maximum duration (in milliseconds) for query execution before timing out.
  # default is 3000.
  query_timeout_in_ms: 3000

  # connection_timeout_in_ms specifies the maximum duration (in milliseconds) that is used for creating connections to the server.
  # default is 5000.
  connection_timeout_in_ms: 5000

  # bloom_filter_name specifies the name of bloom filter key
  # default is IMMO_BLOOM.
  bloom_filter_name: IMMO_BLOOM

  # black_list_filter_name specifies the name of blacklist cuckoo filter key
  # default is IMMO_BLACK_LIST.
  black_list_filter_name: IMMO_BLACK_LIST

  # white_list_filter_name specifies the name of whitelist cuckoo filter key
  # default is IMMO_WHITE_LIST.
  white_list_filter_name: IMMO_WHITE_LIST


# log contains configs for logs output in console and file.
logger:
  # level determine the log level.
  level: "info" 
  
  # filename is the output file containing logs.
  filename: "immortal.log" 
  
  # max_size_in_mb is the maximum size of log file.
  max_size_in_mb: 10

  # max_backups determines the maximum number of backup of log file size.
  max_backups: 10 

  # compress determines to compress the log files or not.
  compress: true

  # targets is targets for logs to be written to.
  targets: [file, console] 
  